<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.INoticeDao">
    <select id="getListById"  resultMap="NoticeModel" parameterType="java.lang.Integer">
        select a.`id`, `title`, `desc`, `date` from notice a join user b on a.user_id = b.id where a.user_id = #{userId}
    </select>

    <resultMap id="NoticeModel" type="com.example.demo.entity.Notice">
        <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER" property="id"></id>
        <result column="title" javaType="java.lang.String" jdbcType="VARCHAR" property="title"></result>
        <result column="desc" javaType="java.lang.String" jdbcType="VARCHAR" property="desc"></result>
        <result column="date" javaType="java.sql.Date" jdbcType="DATE" property="date"></result>
    </resultMap>
</mapper>